
/* ------------------------------- SEARCH/BROWSE CSS -------------------------------- */


.main{
    background-image: none;
    background-color: rgb(46, 128, 153);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    grid-template-rows: 1fr;
    padding: 2em;
}

.main > div{
    background-color: rgba(180, 205, 219, 0.664);

    border-radius: 1em;
}

#changeFav{
    grid-column: 1 / span all;
}

/* ------------------------------- FILTER BAR ----------------------------- */


#photoFilter{
    padding: 1em;
}

#filters{
    padding: 1em;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5em;
}

/* ------------------------------ RESULTS DIV ----------------------------- */

#allResults{
    grid-column: 2/span 4;
    overflow: auto;
    display: grid;
    grid-template-rows: 50px auto;
    grid-gap: 2em;
    padding: 3em;
}

#singleResult{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 0.5em 0.5em 0.7em #2c4d63;
    height: 150px;
}

#singleResult button, #addFavorite, #remove{
    width: 75%;
    margin-top: 1.5em;
}

/* --------------------------------- BUTTONS ----------------------------------- */


button, #addFavorite{
    height: 2em;
    border: none;
    border-radius: 1em;
    background-color: rgb(22, 139, 139);
    color:white;
    cursor: pointer;
    padding: 0.5em;
}

#remove{
    height: 2em;
    border: none;
    border-radius: 1em;
    background-color: rgb(209, 60, 60);
    color:white;
    cursor: pointer;
    padding: 0.5em;
}

button:hover, #addFavorite:hover{
    background-color: rgb(111, 160, 160);
}

/* ------------------------------------------------------------------------ */


#image{
    grid-row: 1/span 3;
}

#imageTitle{
    grid-row-start: 2;
}

#view, #fav{
    grid-column: 3/span 1;
    grid-row-start: 1;
}

#fav{
    grid-row-start: 2;
}

/* -------------------------------- MEDIA QUERY -------------------------------- */


@media only screen and (max-width: 1200px){
    #singleResult button, #addFavorite, #remove{
        width: 100%;
    }
}
@media only screen and (max-width: 800px){
    .main{
        display: block;
    }
    #photoFilter{
        margin-bottom: 5px;
    }
    .main div{
        padding: 1rem;
    }
    #singleResult{
        display: block;
        text-align: center;
        height: auto;
    }
    #singleResult button, #addFavorite{
        width: 80%;
    }
}
