div#main-loggedin{
    display: grid;
    background-image: url("../images/peak.jpg");
    grid-template-columns: 1fr 1fr; /*equally divides between two columns*/
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3em;
    padding: 3em;
}

#main-loggedin > div{
    background-color: rgba(206, 227, 240, 0.664);

    border-radius: 0.5em;
}
div#userInfo{
    grid-row: 1/span 2;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgb(233, 243, 255);
}

#search{
    display: grid;
    padding: 1em;
}

form#textSearch{
    margin: auto;
    width: 100%;
}

input[type='search']{
    width: 100%;
    padding: 1.5em;
    background-color: rgb(224, 237, 240);
    border: none;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 0.7em #2c4d63;
}
input[type='search']:hover{
    background-color: rgb(157, 232, 255);
}

#userInfo #name{ font-size: 2.3em; }
#userInfo #location{ font-size: 1.3em; }

div#favoritedImages{
    grid-row: 3/span 3;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 2em 7em 2em 7em;
    text-align: center;
    grid-gap: 2em;
}

#favoritedImages div{
    background-color: rgb(236, 246, 255);
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

#favoritedImages h3{
    grid-column: 1/span 2;
}

#favoritedImages #error{
    grid-column: 1/span 2;
}

#error #smartphone{
    width: 3em;
    box-shadow: 0.5em 0.5em 0.7em #2c4d63;
    background-color: white;
    padding: 1em;
    border-radius: 1em;    
    border: solid 3px rgb(0, 43, 124); 
}
#error #smartphone:hover{ border: solid 3px rgb(214, 91, 91); }

#images{
    grid-row: 2/span 4;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
    text-align: center;
}

#images h3{
    grid-column: 1 / span 3;
}



@media only screen and (max-width: 800px){
    .main{
        display: block !important;
        /* grid-template-columns: 1fr; */
    }
    div#main-loggedin{
        
        background-image: none;
    }
    #userInfo, #favoritedImages, #search{
        margin-bottom: 5px;
    }
    .main > div{
        padding: 1rem;
        margin: 0.5em;
    }
    div#images, div#favoritedImages{
        height: 15em;
    }
}
@media only screen and (max-width: 1200px){
}