#main-loggedin{
    background-image: url("../images/ocean.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr; /*equally divides between two columns*/
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1em;
    padding: 1em;
}

#main-loggedin div{
    background-color: rgb(218, 218, 218);
}
#userInfo{
    grid-row: 1/span 3;
}
#favoritedImages{
    grid-row: 4/span 2;
}
#images{
    grid-row: 2/span 4;
}
@media only screen and (max-width: 800px){
    #main-loggedin{
        display: block;
    }
    #userInfo, #favoritedImages, #search{
        margin-bottom: 5px;
    }
    .main div{
        padding: 1rem;
    }
}
@media only screen and (max-width: 1200px){
}