html{
    background-color: none;
}
html, body{
    background-image: url("images/peak.jpg") !important;

}

div.main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 5em;
}

.main > div{
    background-color: rgb(190, 229, 236);
    border-radius: 2em;
    padding: 0.5em;
    text-align: center;
}
#userInfo{
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    border-radius: 2em;
    padding: 0.8em;
    font-size: 0.8em;
    background-color: white;
    margin: 0em 15em 0em 15em;
}

#personalPhotos{ grid-row: 2/span 3; }
#userDescription #name{ font-size: 2.3em; }
#userDescription #location{ font-size: 1.3em; }

img#smartphone{
    width: 4em;
    box-shadow: 0.5em 0.5em 0.7em #2c4d63;
    background-color: white;
    padding: 1em;
    border-radius: 1em;    
    border: solid 3px rgb(0, 43, 124); 
}

div#error{
    grid-column: 1 / span 3;
    text-align: center;
    padding: 1em;
    border-radius: 5em;
    box-shadow: none;
}

#error #smartphone:hover{
    border: solid 3px rgb(214, 91, 91); 
}

div#favorites{
    grid-row: 2/ span 1;
    height: 20em;
}

#favorites h3{
    padding: 0;
    margin: 0;
}

div#favPhotos{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    overflow:auto;
    height: 15em;
    margin: 1em;
}

#favPhotos img{
    border: solid 0.3em rgba(0, 0, 0, 0);
}
#favPhotos img:hover{
    border: solid 0.3em rgba(45, 82, 104, 0.719);
}

#singlePost{
    border: solid 1px white;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(239, 252, 255);
}

#singlePost #mainImage{
    grid-column: 1;
    margin: 1em;
}

#singlePost div{
    text-align: left;
}

#userPosts{
    grid-template-rows: 2/ span 3;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 2em;
    padding: 2em;
}



@media only screen and (max-width: 800px){
    .main{
        display: block;
    }
    #userDescription{
        text-align: center;
    }
    .main div{
        margin-bottom: 5px;
    }
    .main div{
        padding: 1rem;
    }

    #userInfo{
        margin: 0;
        margin-bottom: 2em;
    }

    #favPhotos{
        display: block;
        overflow: auto;
        height: 20em;
    }
}
@media only screen and (max-width: 1200px){
}