.main{
    background-image: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#userInfo{
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: space-evenly;
    grid-template-rows: 1fr;

}

#profilePicture{
    width: 15em;
    border-radius: 10em;
    margin: 4em 2em 5em 2em;   
}

#userDescription{
    grid-column: 2/span 2;
    text-align: left;
    padding-top: 5em;
}
@media only screen and (max-width: 800px){
    .main, #userInfo{
        display: block;
    }
    #userDescription{
        text-align: center;
    }
    .main div{
        margin-bottom: 5px;
    }
    .main div{
        padding: 1rem;
    }
}
@media only screen and (max-width: 1200px){
}