.main {
    background-image: url("../images/peak.jpg");
    grid-template-columns: 1fr;
    /* padding-bottom: 10%; */
    
}
.main h2{
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}

#registerForm{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    justify-content: center;
    column-gap: 2.5em;
    padding: 30px;
    margin: 0px;
    grid-template-rows: repeat(8, auto);
}

input{
    width: 100%;
    /* margin-left: 4em; */
    border: none;
    /* background-color: rgb(182, 236, 250); */
    background-color: rgb(217, 238, 248);
    
    border-radius: 5px;
    padding: 1em;
    grid-column: 1/span 2;
}

input[name="fName"]{
    grid-column: 1 / span 1;
    grid-row: 2;
    width: 100%;
}

input[name="lName"]{
    grid-column: 2 /span 1;
    grid-row: 2;
    width: 100%;

}

input[name="country"]{
    grid-column: 1 / span 1;
    grid-row: 3;
    width: 100%;
}

input[name="city"]{
    grid-column: 2 / span 1;
    grid-row: 3;
    width: 100%;
}
input[name="email"]{
    grid-column: 1 / span 2;
    grid-row: 4;
    width: 100%;
}

input[name="password"]{
    grid-column: 1 / span 2;
    grid-row: 5;
    width: 100%;
}
input[name="confirm"]{
    grid-column: 1 / span 2;
    grid-row: 6;
    width: 100%;
}


button#signUp{
    grid-row: 7/span 1;
    grid-column: 2/span 1;
    background-color: rgb(29, 194, 158);
    border-radius: 5px;
    border: none;
    padding: 10px; 
    cursor: pointer;
    width: 100%;
}

p.error{
    grid-column: 1/span 2;
    grid-row: 1;
    text-align: center;
    padding: 0.8em;
    width: 100%;
    border: none;
    background-color: #ff726f;
    border-radius: 0.3em;
    text-emphasis: none;
    
}
@media only screen and (max-width: 800px){
    #registerForm{
        display: block;
        width: 15rem;
        margin-left:auto;
        margin-right: auto;
    }
    #registerForm input{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 1200px){
}