.main{
    /* background-image: none; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 2em;
    padding: 2em;
}

.main div{
    background-color: rgb(180, 227, 255);
    border-radius: 1em;
    padding: 1em;
}

#mainContent div{
    /* border: solid black 1px; */
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

#cityFilters{
    grid-row: 1/span 2;
    background-color: white;
}

#cityList{
    grid-row: 3/span 6;
    background-color: white;

}

#mainContent{
    grid-column: 2/span 3;
    grid-row: 1/ span 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 1em;
}

#cityDetails{
    grid-column: 1/span 3;
    grid-row: 1/ span 2;
}

#cityMap{
    grid-column: 1/span 3;
    grid-row: 3/ span 2;
}

#cityPhotos{
    grid-row: 1/ span 4;
}