.main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#spvImg{
    grid-column: 1 / span 2;
     grid-row: span 2; 
}

#spvNames{
    grid-column: 3 / span 1;
    /* grid-row: 1 / span 10; */
}

#infoBox{
    grid-column: 3 / span 1;
}




