.main{
    background-image: none;
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    justify-content: space-between;
}

.main div{
    border: solid black 1px;
    margin: 2px;
}
#singlePhotoView{
    flex-basis: 100%;
    /* width: 3fr; */
    flex-grow: 3;
    display:flex;
}
#spvImg{
    flex-basis: 100%;
    flex-grow: 1;
}

#spvNames{
    flex-basis: 20%;
    flex-grow: 1;
}

#infoBox{
    flex-basis: 20%;
    flex-grow: 2;
}



