.main{
    /* background-image: url("../images/peak.jpg"); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 3em;
    padding: 3em;
}

.main > div{
    border-radius: 0.2em;
    padding: 1em;
    background-color: rgba(180, 205, 219, 0.664);
}

/* #filters *{
    width: 100%;
} */


#mainContent > div{
    /* border: solid black 1px; */
    background-color: white;
    border-radius: 0.2em;
    padding: 1em;
    overflow: auto;
}

div#countryFilters{
    grid-row: 1/span 2;
    text-align: center;
    text-justify: center;
}
p#clickMe{
    padding: 0.5em;
    background-color: rgb(46, 128, 153);
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 0.7em #575d66;
    cursor: pointer;
    color: white;
}
p#clickMe:hover{
    background-color: rgb(112, 204, 231);
}

form#filters{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    height: 100%;
}

#countryList{
    grid-row: 3/span 6;
    /* background-color: white; */
    overflow: auto;
}

#mainContent{
    grid-column: 2/span 3;
    grid-row: 1/ span 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 1em;
}

#searchCountries, #continent{
    height: 2.5em;
    border-radius: 0.2em;
    border: none;
}

#countryDetails{
    grid-column: 1/span 2;
    grid-row: 1/ span 2;
}

#countryDetails > div{
    margin: 0.4em;
    font-size: 0.9em;
}

#cityList{
    grid-column: 1/span 2;
    grid-row: 3/ span 2;
}

#countryPhotos{
    grid-row: 1/ span 4;
    grid-column: 3 / span 2;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

#countryPhotos picture *{
    box-shadow: 0.5em 0.5em 0.7em #c4c3c3;
}

#header{
    transition: 0.5s;
}

#clearCountry{
    height: 2em;
}

#fiters #close {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 2em;
    margin-left: 10em;
}

#filters {
    display: grid;
    justify-content: start;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    justify-content: center;
    height: 90%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(94, 94, 94); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5em; /*Place content 60px from the top */
    padding-bottom: 5em;
    /* padding: 5em; */
    transition: 0.5s;
    color: white;
}

@media only screen and (max-width: 800px){
    .main, #mainContent{
        display: block;
    }
    .main div{
        margin-bottom: 5px;
        overflow: auto;
        padding: 1rem;
    }
    #countryList, #cityList, #countryPhotos{
        height: 10em;
    }
    .clearFilter{
        height: 3em;
    }
    #countryPhotos{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 1200px){
}

@media screen and (max-height: 450px) {
    #filtersCountryCityPage {padding-top: 15px;}
    #filtersCountryCityPage a {font-size: 18px;}
  }