.main{
    background-image: url("../images/forest.jpg");
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 3em;
    padding: 3em;
}

.main > div{
    border-radius: 0.2em;
    padding: 1em;
    background-color: rgba(225, 245, 247, 0.664);
}


#mainContent > div{
    /* border: solid black 1px; */
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    overflow: auto;
}

div#countryFilters{
    grid-row: 1/span 3;
}

form#filters{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    height: 100%;
}

/* form#filters *{
    height: fit-content;
} */

#countryList{
    grid-row: 4/span 5;
    /* background-color: white; */
    overflow: auto;
}

#mainContent{
    grid-column: 2/span 3;
    grid-row: 1/ span 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 1em;
}

#searchCountries, #continent{
    height: 2.5em;
    border-radius: 0.2em;
    border: none;
}

#countryDetails{
    grid-column: 1/span 2;
    grid-row: 1/ span 2;
}

#cityList{
    grid-column: 1/span 2;
    grid-row: 3/ span 2;
}

#countryPhotos{
    grid-row: 1/ span 4;
    grid-column: 3 / span 2;
}
@media only screen and (max-width: 800px){
    .main, #mainContent{
        display: block;
    }
    .main div{
        margin-bottom: 5px;
        overflow: auto;
    }
    .main div{
        padding: 1rem;
    }
}
@media only screen and (max-width: 1200px){
}