html, body { 
    height: 100vh; 
    margin: 0;
    background-color: rgb(46, 128, 153);
} 

.container{
    font-size: 1em;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

/* to make sure that buttons and filters get font */
html *{ 
    font-family: 'Gupter', serif !important;
}

#logo{
    width: 4em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.main{
    
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
   
    background-color: rgb(46, 128, 153);
    
    grid-row: 2/span 7;
    height: 100%;
    /* overflow: auto; */
}

#header{
    align-content: center;
    text-align: center;
    /* padding-top: 3em; */
    background-color: rgb(56, 184, 216);
    color: white;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    /* display: inline-block; */
    /* grid-template-rows: 1fr; */
}
#burger {
    display: none;
    width: 20px;
    height: 15px;
    padding-bottom: 10px;
    margin: 22px;
    position: relative;
    float:right;
}

#burger:hover{
    color: black;
}

#navigation{
    list-style-type: none;
    /* display: inline; */
    /* flex-flow: row wrap; */
    padding-left: 4rem;
    grid-template-rows: 1fr;
}

ul#navigation li{
    display: inline;
    float: left;
}

a{
    text-decoration: none;
}

ul#navigation li a{
   text-decoration: none;
   color: white;
   padding: 0.5em 1.5em 0.5em 1.5em;
   /* margin-top: auto;
   margin-bottom: auto; */
}

ul#navigation li a:hover{
    background-color: rgb(164, 226, 255);
    border-radius: 5px;
}
@media only screen and (max-width: 800px){
    #header{
        padding: 0;
    }
    #burger{
        display: block;
    }
    #navigation{
        display: none;
        text-align: left;
        margin-top: 45px;
        padding: 0;
        margin-bottom:0;
    }
    ul#navigation li{
        width: 98.8%;
        padding: 0.5rem 0;
        padding-left: 0.5rem;
        background-color: grey;
    }
    ul#navigation li:hover{
        background-color: rgb(164, 226, 255);
    }
    #hamburger-menu:hover{
        background-color: grey;
        color: black;
    }
}

@media only screen and (max-width: 1200px){

}