.main{
    background-image: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

/* .main div, h2{
    border: solid black 1px;
} */

#upload{
    grid-row: 2/span 5;
    /* text-align: center; */
}

#uploadForm{
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto auto auto auto;
    /* justify-content: center; */
    /* align-content: space-between; */
    grid-gap: 10px;
    text-align: justify;
    padding: 2em;
}    

#uploadForm *{
    /* border: solid black 1px; */
    /* width: 50%; */
}

input[name="title"], input[name="description"]{
    width: 75%;
    margin-left: 4em;
    border: none;
    /* background-color: rgb(182, 236, 250); */
    background-color: rgb(198, 240, 238);

    border-radius: 5px;
    padding: 1em;
    grid-column: 1/span 2;

}
label{
    margin-left: 3.5em;
}

input[name="title"]{
    grid-row: 2/span 1;
}
label[for="description"]{
    grid-row: 3/span 1;
    grid-column: 1/span 2;

}
input[name="description"]{
    grid-row: 4/span 2;
    height: 10em;
}
select[name="country"]{
    grid-row: 2/span 1;    
    grid-column: 3/span 1;
    border-color: rgb(141, 205, 221);

}
select[name="city"]{
    grid-row: 2/span 1;
    grid-column: 4/span 1;
    border-color: rgb(141, 205, 221);
}
input[name="pic"]{
    grid-row: 4/span 1;
    grid-column: 3/span 2;
}
button#submit{
    grid-row: 5/span 1;
    grid-column: 4/span 1;
    background-color: rgb(29, 194, 158);
    /* width: 50%; */
    border: none;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}

